现在要做一个全新的模块：云斋

模块位置：放到RSS下面
该模块的代码全部编写到src/modules/cloud-abode，也不用区分到features、shared里面，除非是完全通用的，因为这是一个全新的非常独立的模块

需求描述：
1. 云斋是一个独立的模块，用于管理个人虚拟云生活的一个空间，比如虚拟资产、虚拟住宅、虚拟汽车等等。目前v1.1版本仅实现虚拟汽车模块。

虚拟汽车模块：
1. 虚拟汽车要求可以展示名下的汽车模型和相关信息，能定制化汽车模型，比如车身颜色、轮毂、内饰、涂装等。重点是可以使用真实场景的三维渲染展示，可浏览查看外观、内饰等（该版本仅先支持查看外观）
2. 虚拟汽车模块，最大的页面就是汽车渲染页面，足够的区域显示模型效果
3. 要求仔细分析：https://gamemcu.com/su7/ 这个网站（小米su7的模型展示页面）的实现，将其技术或者代码可以参考移植到本项目中实现

请跟据以上需求：
1. 完整的整理出v1.1版本的用户需求、技术设计文档，使用 Office-Word-MCP-Server 工具编写文档（文档要求全部用中文字体）
2. 使用 /context7-mcp 工具获取最新的threejs技术来搭建渲染框架（后续还可渲染其他模型，所以渲染框架可以单独做一个模块）
3. 使用 sequential-thinking mcp 工具仔细思考相关业务和技术实现，需要如何设计改模块，整理好需求和技术计划等再开始编码
4. 汽车模块完全参考https://gamemcu.com/su7页面
